html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  --color-text: #1f1f1f;
  background-color: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

/* end of general styles */

.navbar-menu {
  display: none;
}

.header {
  border-bottom: 2px solid #e0e0e0;
  background-color: #fffffd;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 25px;
  margin: 0 auto;
  max-width: 1024px;
}

.header-link {
  color: var(--color-text);
  display: flex;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
}

.header-link:hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.header-link:active {
  transform: translate(1px, 1px);
}

.header-link p {
  width: 36px;
  height: 36px;
  border: 2px solid var(--color-text);
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
}

.header-nav {
  font-size: 16px;
  line-height: 170%;
}

.mobile-burger-icon {
  fill: transparent;
  stroke: var(--color-text);
  transition: all 0.2s ease-in-out;
}

.mobile-burger-icon:hover {
  fill: var(--color-text);
  cursor: pointer;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 280px 0px;
  margin: 0 auto;
  max-width: 550px;
}

.hero-title {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 12px;
}

.hero-text {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 50px;
}

.arrow-down-icon {
  fill: transparent;
  stroke: #111111;
}

.svg-container {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
}

@keyframes blink {
  0%,
  40% {
    opacity: 1;
    transform: scale(1.2);
  }
  40%,
  100% {
    opacity: 0.3;
    transform: scale(1);
  }
}

.arrow-down-icon:nth-child(1) {
  animation: blink 2s ease-in-out infinite;
  animation-delay: 0s;
}

.arrow-down-icon:nth-child(2) {
  animation: blink 2s ease-in-out infinite;
  animation-delay: 0.1s;
}

.arrow-down-icon:nth-child(3) {
  animation: blink 2s ease-in-out infinite;
  animation-delay: 0.2s;
}

.about {
  color: var(--color-text);
  background: #f2f2f2;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px 26px;
  margin: 0 auto;
  max-width: 550px;
}

.about-title {
  font-weight: 500;
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.about-title:after,
.about-title:before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: var(--color-text);
  margin: 0 auto;
}

.about-text {
  line-height: 133%;
  margin-bottom: 30px;
  text-indent: 1.5em;
  text-align: justify;
}

.about-photo {
  border-radius: 30px;
  display: block;
  margin: 0 auto;
}

.experience {
  color: var(--color-text);
}

.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 26px;
  margin: 0 auto;
  max-width: 550px;
}

.experience-title {
  font-weight: 500;
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.experience-title:after,
.experience-title:before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: var(--color-text);
  margin: 0 auto;
}

.former-workplace-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.former-workplace-box:last-child {
  margin-bottom: 0;
}

.workplace-desc {
  display: flex;
  gap: 16px;
  margin-left: 12px;
}

.workplace-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.workplace-name {
  font-weight: 500;
  font-size: 20px;
  font-style: italic;
  text-decoration: underline;
}

.workplace-position {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
}

.workplace-resp-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 133%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 10px;
  letter-spacing: -0.02em;
}

.workplace-resp-item {
  position: relative;
  text-indent: 1.5em;
}

.workplace-resp-item::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #1f1f1fd6;
  border: 1px solid #6f6f6f;
  margin-left: 8px;
}

.main-projects {
  color: var(--color-text);
  background: #f2f2f2;
}

.main-projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 26px;
  margin: 0 auto;
  max-width: 550px;
}

.main-projects-title {
  font-weight: 500;
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.main-projects-title:after,
.main-projects-title:before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: var(--color-text);
  margin: 0 auto;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-weight: 400;
  line-height: 133%;
  color: var(--color-text);
}

.first-project {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.project-screenshot {
  border-radius: 16px;
  width: 100%;
  height: 240px;
  max-width: 450px;
}

.project-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.project-name {
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  margin-left: 8px;
  margin-bottom: 4px;
  text-decoration: underline;
}

.project-desc {
  font-size: 14px;
  text-align: center;
}

.project-desc:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-text);
  margin-top: 8px;
}

.project-languages-list {
  display: flex;
  gap: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #6f6f6f;
  text-wrap: wrap;
}

.project-links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.project-links-list li,
.project-links-list li a {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.project-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  stroke: var(--color-text);
  transition: transform 0.2s ease-in-out;
}

.project-icon:hover {
  transform: scale(1.15);
}

.link-icon {
  margin-top: 1px;
  fill: var(--color-text);
  stroke: transparent;
}

.second-project {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.other-projects {
  color: var(--color-text);
  background: #f2f2f2;
}

.other-projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 26px 60px;
  margin: 0 auto;
  max-width: 550px;
}

.other-projects-title {
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.other-projects-title:after,
.other-projects-title:before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: #6f6f6f;
  margin: 0 auto;
}

.other-projects-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.other-projects-item {
  display: flex;
  gap: 12px;
  padding: 12px;
  border: 1px solid #8b8b8b;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.other-projects-item:hover,
.other-projects-item:focus,
.other-projects-item:active {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  translate: 0px -2px;
}

.project-item-img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 8px;
  margin-top: 2px;
}

.project-item-name {
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 8px;
  text-decoration: underline;
}

.project-item-text {
  font-size: 14px;
  line-height: 133%;
  margin-bottom: 8px;
  text-align: justify;
}

.project-item-text:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #6f6f6f;
  margin-top: 8px;
}

.other-project-languages-list {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}

.project-language-item {
  font-size: 12px;
  line-height: 133%;
  color: #6f6f6f;
  text-wrap: wrap;
  align-content: center;
  text-align: center;
}

.other-projects-links-list {
  display: flex;
  gap: 16px;
}

.contact {
  color: var(--color-text);
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 26px 0px;
  margin: 0 auto;
  gap: 12px;
  max-width: 550px;
}
.contact-title {
  font-weight: 500;
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-title:after,
.contact-title:before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: var(--color-text);
  margin: 0 auto;
}

.contact-text {
  font-size: 10px;
  line-height: 133%;
  text-align: center;
  max-width: 450px;
}

.contact-list {
  display: flex;
  gap: 16px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
}

.contact-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.contact-list-item a {
  display: flex;
  align-items: center;
}

.footer {
  color: var(--color-text);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  margin: 0 auto;
  max-width: 550px;
}

.footer-nav {
  width: 100%;
}

.footer-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-nav-item {
  transition: transform 0.2s ease-in-out, rotate 0.2s ease-in-out;
}

.footer-nav-item:hover {
  transform: scale(1.1) rotate(15deg);
}

.color-change-2x-alternate {
  animation: color-change-2x-alternate 2s linear 0s infinite alternate both;
}

@keyframes color-change-2x-alternate {
  0% {
    background: #e6e6e6;
  }
  100% {
    background: #d3d3d3;
  }
}
